
.container{
    height: fit-content;
    width: 50vw;
    margin: auto;
    box-shadow: 0 0 10px gray inset;
    border-radius: 10px;
    background-color:rgb(148, 200, 250);
    padding: 30px;
    margin-top: 100px;
}

body{
    height: 100vh;
    overflow: hidden;
    width: 100vw;
    background-image: url('https://img.freepik.com/premium-photo/white-cloud-with-blue-sky-background_34152-2774.jpg');
background-size: cover;
}

.container>h2{
    text-align: center;
}

#addItemForm{
    display: flex;
    justify-content: space-between;
}

#addItemForm input,#addItemForm textarea{
    height: 15px;
}

#addItemForm button{
    background-color:rgb(0, 132, 255) ;
    border: none;
    box-shadow: 0 0 2px black;
    padding: 7px;
    border-radius: 4px;
    color: white;
}
#addItemForm button:hover{
    background-color:rgb(0, 98, 190)  ;
}

.overflow{
padding: 15px;
    height: 350px;
    max-height: 350px;
    margin-top: 30px;
    box-shadow: 0 0 10px gray inset;
    background-color:rgb(138, 186, 231);

    border-radius: 5px;
   
}

#itemList{
padding: 20px;
max-height: 100%;
overflow:auto;
display: flex;
flex-direction: column;
justify-content: flex-end;
}

